.aplicativo {
    width: 550px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;

    .titulo {
        font-size: 30px;
        font-weight: 700;
        box-sizing: border-box;
        letter-spacing: 5px;
        padding: 30px 0;
    }
}

#btn-add-tarefa {
    margin: 19px 0;
}
.check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid $az-cz-escuro;
    position: absolute;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .check-tarefa {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: transparent; 
    }
}

.check:hover {
    border-color: hsl(251, 84%, 64%);
}

#inserir-tarefa {
    background-color: $input-bg;
    display: block;
    color: $branco;
    border-radius: 0.3rem;
    height: 50px;
    padding: 5px 0px;
    padding-left: 60px;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: $fonte;
    margin-bottom: 30px;
    width: 89%;
    box-shadow: 0 0.3rem 1rem #0b0b11;
    
}

.btn-add-tarefa {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    left: 30px;
    bottom: 69.7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: $az-cz-escuro;
}

#add-tarefa {
    margin: 18px 0;
}

.tarefas {
    background-color: $input-bg;
    border-radius: 0.3rem;
    position: relative;
    box-shadow: 0 0 1em #161722;
}

.detalhes-tarefas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 12px;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.itens-restantes {
    color: $az-cz-escuro;
    padding-left: 10px;
    font-size: 12px;
    width: 100px;
    
}

.filtro button {
    margin-right: 20px;
    font-family: $fonte;
    font-size: 12px;
    &:hover {
        color: $branco;
    }
}

.tarefa-inserida {
    border-bottom: solid 1px $cinza;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 20px 0;

    .tarefa-descricao{
        color: $az-cz-claro;
        cursor:pointer;
        margin-left: 42px;
        border-radius: 0;
        display: flex;
        align-content: center;
    } 
    .remover-tarefa {
        height: 12px;
        width: 12px;
        padding-left: -20px;
        &:hover {
            transform: scale(1.2);
            transition: 0.8ms;
        }
    } 
}

.marcar-tarefa-concluida  {
    :nth-child(1){
        background: $gradient; 
        .check-tarefa {
        background: transparent;
        }
    }
    
    :nth-child(2){
        text-decoration: line-through;
        color: $az-cz-escuro;
    }
}

.tarefa-concluida{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content:start;
}

.detalhes-tarefas button {
    color: $az-cz-escuro;
}

.detalhes-tarefas .todas-as-tarefas {
    color: $btn-filtro;
}

.botao-limpar {
    font-family: $fonte;
    font-size: 12px;
    &:hover {
        color: $branco;
    }
}

// Mobile

@media (max-width: 768px){

    .aplicativo {
        width: 350px;
        .titulo { 
            padding-top: 10px;
        }
    }

    #inserir-tarefa {
        width: 73%;
        padding: 5px 33px;
        padding-left: 60px;
    }
    
    .adiciona-tarefa,
    .tarefas
    .remover-tarefa:hover {
        transform: none;
    }

    .remover-tarefa {
        margin-left: -12px; 
    }

    .filtro {
        background-color: $input-bg;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: -60px;
        left: 0;
        padding:  10px 25px;
        width: 86%;
        border-radius: 0.3rem;
    } 

    .tarefas-ativas {
        padding-left: 20px;
    }
}
