$bg: hsl(235, 21%, 11%);
$input-bg: hsl(235, 24%, 19%);
$az-cz-claro: hsl(236, 33%, 92%);
$az-cz-escuro: hsl(234, 11%, 52%);
$check-gradient:(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$btn-filtro: hsl(220, 98%, 61%);
$cinza: hsl(233, 14%, 35%);
$branco: #fff;
$bg-img-dsk: url("../../assets/bg-desktop-dark.jpg");
$bg-img-mb: url("../../assets/bg-mobile-dark.jpg");
$fonte: "Josefin Sans", sans-serif;