/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus, input:focus, select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.aplicativo {
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

.aplicativo .titulo {
  font-size: 30px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 5px;
  padding: 30px 0;
}

<<<<<<< HEAD
=======
#btn-add-tarefa {
  margin: 19px 0;
}

>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
.check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #777a92;
  position: absolute;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.check .check-tarefa {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
}

.check:hover {
  border-color: #7256f0;
}

#inserir-tarefa {
  background-color: #25273c;
  display: block;
  color: #fff;
  border-radius: 0.3rem;
  height: 50px;
  padding: 5px 0px;
  padding-left: 60px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
  width: 89%;
  -webkit-box-shadow: 0 0.3rem 1rem #0b0b11;
          box-shadow: 0 0.3rem 1rem #0b0b11;
}

.btn-add-tarefa {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  bottom: 69.7px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #777a92;
}

#add-tarefa {
  margin: 18px 0;
}

.tarefas {
  background-color: #25273c;
  border-radius: 0.3rem;
  display: -ms-grid;
  display: grid;
  position: relative;
<<<<<<< HEAD
  -webkit-box-shadow: 0 0.3rem 1rem  #0b0b11;
          box-shadow: 0 0.3rem 1rem  #0b0b11;
=======
  -webkit-box-shadow: 0 0 1em #161722;
          box-shadow: 0 0 1em #161722;
<<<<<<< HEAD
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
=======
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
}

.detalhes-tarefas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 12px;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.itens-restantes {
  color: #777a92;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.filtro button {
  margin-right: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}

.filtro button:hover {
  color: #fff;
}

.tarefa-inserida {
  border-bottom: solid 1px #4d5066;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  padding: 20px 0;
}

.tarefa-inserida .tarefa-descricao {
  color: #e4e5f1;
  cursor: pointer;
  margin-left: 42px;
  border-radius: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tarefa-inserida .remover-tarefa {
  height: 12px;
  width: 12px;
}

.tarefa-inserida .remover-tarefa:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.8ms;
  transition: 0.8ms;
}

.marcar-tarefa-concluida :nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

=======
=======
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
}

.tarefa-inserida .remover-tarefa {
  height: 15px;
  width: 15px;
}

.marcar-tarefa-concluida :nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

<<<<<<< HEAD
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
=======
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
.marcar-tarefa-concluida :nth-child(1) .check-tarefa {
  background: transparent;
}

.marcar-tarefa-concluida :nth-child(2) {
  text-decoration: line-through;
  color: #777a92;
}

.tarefa-concluida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
=======
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
=======
>>>>>>> 8e4c431d0b33a177e3bf25687ca4186b44679181
}

.detalhes-tarefas button {
  color: #777a92;
}

.detalhes-tarefas .todas-as-tarefas {
  color: #3a7bfd;
}

.botao-limpar {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}

.botao-limpar:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .aplicativo {
    min-width: 350px;
  }
  .aplicativo .titulo {
    padding-top: 10px;
  }
  #inserir-tarefa {
    width: 73%;
    padding: 5px 33px;
    padding-left: 60px;
  }
  .adiciona-tarefa:hover,
  .tarefas:hover {
    -webkit-transform: none;
            transform: none;
  }
  .remover-tarefa {
    margin-left: -12px;
  }
  .filtro {
    background-color: #25273c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: -60px;
    left: 0;
    padding: 10px 25px;
    width: 86%;
  }
  .tarefas-ativas {
    padding-left: 20px;
  }
  .detalhes-tarefas button:hover {
    color: none;
  }
  .filtro {
    border-radius: 0.3rem;
  }
}

body {
  background: #161722;
  background-image: url("../../assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
}

@media (max-width: 768px) and (min-width: 300px) {
  body {
    background-image: url("../../assets/bg-mobile-dark.jpg");
  }
}
/*# sourceMappingURL=style.css.map */